@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TBC title from object</title>
</head>
    <body>
        <header>
            <h1>Singular CMS</h1>
        </header>
    </body>
</html>
