<nav ng-controller="navController">
    <ul ng-repeat="item in navItems">
        <li><a ng-href="{{ getSingularUrl(item.Controller, item.Action) }}" title="{{ item.Name }}">{{ item.Name }}</a></li>
    </ul>
</nav>
